.square {
  border: 1px gray solid;
  height: 90px;

  button{
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-weight: 600;
    font-style: initial;
    font-family: "Arial Black", serif;
  }
}
